<div >
    <div style="background-image: url('assets/img/background2.JPG'); background-size: cover;  background-size: 100% auto;">
        <br><br>
        <div style="justify-content: space-around;">
    
            <div class="centrarDiv">
                <img src="assets/img/logo2.jpg" style="border-radius: 50%; width: 15%;">
            </div>
            <br>
            <div class="centrarDiv">
                <h2 class="">Pers. Jurid. N° 899-G-16</h2>            
            </div>
    
            <div class="centrarDiv">
                <h2 class="">La Madrid 373 Piso 1 Oficina 3</h2>
            </div>
    
            <div class="centrarDiv">
                <a class="centrarDiv efecto" href="https://www.facebook.com/groups/jujuyandinoclub" target="_blank"><img class="iconoRed" src="assets/img/facebook.png" alt=""></a>            
            </div>
    
            <div class="centrarDiv">
                <a class="centrarDiv efecto" href="https://www.instagram.com/jujuyandinoclub/" target="_blank"><img class="iconoRed" src="assets/img/instagram.png" alt=""></a>          
            </div>
    
            <div class="centrarDiv">
                <a class="centrarDiv efecto" href=""> <img class="iconoRed"  src="assets/img/whatsapp.png" alt=""></a>          
            </div>
    
    
        </div>
        <br><br><br>
    </div>
    
    <br>
    
    <div style="text-align: center;">
    
        <button class="btn btn-primary" (click)="volverInicio()">Ir al Inicio</button>
    
    </div>
</div>
