
<div  >
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      
      <img class="logo" style="margin-right: 10px;" src="assets/img/logo1.jpg" alt="Logo">
      
      <a class="navbar-brand efecto" style="color: rgb(19, 12, 80); font-weight: bold;" href="#">Inicio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active efecto" style="font-weight: bold; color: black; font-size: large; " href="/socios">Socios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link efecto" style="font-weight: bold; color: black; font-size: large;" href="/contacto">Contacto</a>
          </li>
          
        </ul>
        <span class="navbar-text">
          <a class="nav-item nav-link efecto" style="color: black; font-weight: bold; font-size: large;" routerLink='/login' *ngIf="!estaLogueado()">Login</a>
          <a class="nav-item nav-link efecto" style="color: black; font-weight: bold; font-size: large;" routerLink='/' *ngIf="estaLogueado()" (click)="logOut()">Salir</a>
        </span>
      </div>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>